In [1]:
import pandas as pd

In [ ]:
# "R:\my-UIT-courses\DS317.P11 - Khai phá dữ liệu trong doanh nghiệp\final_dataset_after_quality_control (1).csv"

In [2]:
df = pd.read_csv('R:/my-UIT-courses/DS317.P11 - Khai phá dữ liệu trong doanh nghiệp/final_dataset_after_quality_control (1).csv') # đường dẫn ở máy local

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13587 entries, 0 to 13586
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mssv          13587 non-null  object
 1   namsinh       13587 non-null  float64
 2   gioitinh      13587 non-null  int64
 3   drl           13587 non-null  float64
 4   diem_tt       13587 non-null  float64
 5   dtb_toankhoa  13587 non-null  float64
 6   dtb_tichluy   13587 non-null  float64
 7   sotc_tichluy  13587 non-null  float64
 8   diemtbhk_1    13587 non-null  float64
 9   diemtbhk_2    13587 non-null  float64
 10  diemtbhk_3    13587 non-null  float64
 11  diemtbhk_4    13587 non-null  float64
 12  diemtbhk_5    13587 non-null  float64
 13  diemtbhk_6    13587 non-null  float64
 14  diemtbhk_7    13587 non-null  float64
 15  diemtbhk_8    13587 non-null  float64
dtypes: float64(14), int64(1), object(1)
memory usage: 1.7+ MB

In [10]:
df.head(3)

,mssv,namsinh,gioitinh,drl,diem_tt,dtb_toankhoa,dtb_tichluy,sotc_tichluy,diemtbhk_1,diemtbhk_2,diemtbhk_3,diemtbhk_4,diemtbhk_5,diemtbhk_6,diemtbhk_7,diemtbhk_8
0,0000AC05XPvAibaEXe9B2tolTZ0JLoBGbkQixQS6,19.0,0,93.000000,30.00,7.91,7.91,62.0,7.79,8.28,7.56,0.00,5.9075,5.9075,5.9075,5.9075
1,0001EB57XPvAibaEXe/twT+sf632fUXnsgPGeB4G,22.0,1,82.105913,26.05,8.79,8.79,129.0,8.84,9.00,9.11,8.75,8.5400,8.7400,8.4100,8.7700
2,00046394XPvAibaEXe+fmxcqgvribEcT4YmJhSFD,16.0,0,78.744552,27.00,7.26,7.26,147.0,5.41,7.07,6.36,8.32,7.8600,8.0900,6.9200,7.8000

In [3]:
ungraduated_df = df[df['diemtbhk_8'] == 0]
ungraduated_df

,mssv,namsinh,gioitinh,drl,diem_tt,dtb_toankhoa,dtb_tichluy,sotc_tichluy,diemtbhk_1,diemtbhk_2,diemtbhk_3,diemtbhk_4,diemtbhk_5,diemtbhk_6,diemtbhk_7,diemtbhk_8
29,0088B819XPvAibaEXe+pRrseqS9RoYVQbm9WQphs,22.0,0,82.105913,30.000000,8.19,8.19,126.0,9.11,8.46,7.44,7.94,8.44,8.12,7.87,0.0
45,00C64B85XPvAibaEXe/GFbVLDV6SZJlZKXs0/KN4,17.0,1,75.198135,26.000000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
75,01377D44XPvAibaEXe/BLy1WUS+NVlzbxIIHMtmt,18.0,0,62.817913,23.250000,3.27,3.27,28.0,2.85,1.79,4.00,4.21,4.33,0.77,5.27,0.0
107,01CD0FE9XPvAibaEXe/YKN5ysyYL7C/LVIRFhL6K,14.0,0,78.744552,31.500000,0.00,0.00,4.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
118,0238C60FXPvAibaEXe/H1VZJBzJAwvbgak7AXdRX,17.0,0,75.198135,28.500000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13405,FCF4928FXPvAibaEXe9iOtseai5jcnyu3hno2/5g,17.0,0,70.584653,24.750000,5.02,5.02,93.0,7.56,5.83,5.17,5.88,5.09,4.57,3.94,0.0
13408,FCF917BCXPvAibaEXe/9LBBkdbcCWDNBRNKyqX44,22.0,0,82.105913,24.950000,7.94,7.94,134.0,8.69,8.27,8.62,7.84,7.67,7.90,4.90,0.0
13457,FDEB22C7XPvAibaEXe92HFjDDFybW5Kj0lJjDcTx,21.0,0,78.339608,22.600000,8.19,8.19,144.0,9.08,7.73,7.73,7.80,8.55,8.71,8.73,0.0
13486,FE768217XPvAibaEXe8NShKJ2y7VAsc1DSDY2tC+,22.0,1,82.105913,26.904643,8.19,8.19,118.0,8.00,8.36,8.43,8.26,8.68,7.47,7.73,0.0
13582,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,22.0,0,82.105913,24.850000,8.09,8.09,128.0,9.13,7.84,7.39,7.68,7.94,8.15,9.40,0.0

In [4]:
# Lọc sinh viên năm nhất
firstYear_df = ungraduated_df[ungraduated_df['diemtbhk_2'] == 0]

# Lọc sinh viên năm hai
secondYear_df = ungraduated_df[(ungraduated_df['diemtbhk_4'] == 0) & (ungraduated_df['diemtbhk_2'] != 0)]

# Lọc sinh viên năm ba
thirdYear_df = ungraduated_df[(ungraduated_df['diemtbhk_6'] == 0) & (ungraduated_df['diemtbhk_4'] != 0)]

# Lọc sinh viên năm tư
fourthYear_df = ungraduated_df[(ungraduated_df['diemtbhk_8'] == 0) & (ungraduated_df['diemtbhk_6'] != 0)]

In [5]:
firstYear_df

,mssv,namsinh,gioitinh,drl,diem_tt,dtb_toankhoa,dtb_tichluy,sotc_tichluy,diemtbhk_1,diemtbhk_2,diemtbhk_3,diemtbhk_4,diemtbhk_5,diemtbhk_6,diemtbhk_7,diemtbhk_8
45,00C64B85XPvAibaEXe/GFbVLDV6SZJlZKXs0/KN4,17.0,1,75.198135,26.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107,01CD0FE9XPvAibaEXe/YKN5ysyYL7C/LVIRFhL6K,14.0,0,78.744552,31.50,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118,0238C60FXPvAibaEXe/H1VZJBzJAwvbgak7AXdRX,17.0,0,75.198135,28.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
401,07C0F8D1XPvAibaEXe+MN8lfqqsx6U0f27dq+i60,19.0,0,85.000000,30.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
423,083DD240XPvAibaEXe+gsTDvgY5pDqmMCJZkOYCz,16.0,0,78.744552,26.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11987,E1F9F646XPvAibaEXe+UdHzq6I3zLT1fBP9YP5cR,16.0,0,78.744552,24.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12016,E2A33F44XPvAibaEXe+Ps8zYokGtSaVIhvz9TD9T,20.0,0,75.198135,22.75,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12927,F3FE962FXPvAibaEXe/tRbq0ZEBErwUxRcbNPBcd,17.0,0,50.000000,30.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13108,F7011626XPvAibaEXe/tRbq0ZEBEr6q6o8vZUP5N,17.0,0,60.000000,27.50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13331,FB5A9F4DXPvAibaEXe8zt9d6Yn9pDM6R1fhHTj76,17.0,0,64.000000,25.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
secondYear_df

,mssv,namsinh,gioitinh,drl,diem_tt,dtb_toankhoa,dtb_tichluy,sotc_tichluy,diemtbhk_1,diemtbhk_2,diemtbhk_3,diemtbhk_4,diemtbhk_5,diemtbhk_6,diemtbhk_7,diemtbhk_8
7687,92272147XPvAibaEXe+9uXUaDIzyiEgtD12YVcZW,20.0,0,75.655535,21.75,3.4,3.4,39.0,5.61,5.79,4.5,0.0,2.6,3.33,1.81,0.0

In [16]:
thirdYear_df

,mssv,namsinh,gioitinh,drl,diem_tt,dtb_toankhoa,dtb_tichluy,sotc_tichluy,diemtbhk_1,diemtbhk_2,diemtbhk_3,diemtbhk_4,diemtbhk_5,diemtbhk_6,diemtbhk_7,diemtbhk_8
3200,3D94AABBXPvAibaEXe8XU1E8XgQL2L9f6WwoB2ic,20.0,0,75.655535,23.5,4.46,4.46,69.0,6.03,6.32,5.82,3.78,3.58,0.0,2.33,0.0
9056,AC17A2EBXPvAibaEXe+ltCXpm838vTWWVUsJrTsd,17.0,0,65.000000,27.0,3.81,3.81,52.0,6.82,4.43,5.61,4.98,0.93,0.0,0.52,0.0

In [17]:
fourthYear_df

,mssv,namsinh,gioitinh,drl,diem_tt,dtb_toankhoa,dtb_tichluy,sotc_tichluy,diemtbhk_1,diemtbhk_2,diemtbhk_3,diemtbhk_4,diemtbhk_5,diemtbhk_6,diemtbhk_7,diemtbhk_8
29,0088B819XPvAibaEXe+pRrseqS9RoYVQbm9WQphs,22.0,0,82.105913,30.000000,8.19,8.19,126.0,9.11,8.46,7.44,7.94,8.44,8.12,7.87,0.0
75,01377D44XPvAibaEXe/BLy1WUS+NVlzbxIIHMtmt,18.0,0,62.817913,23.250000,3.27,3.27,28.0,2.85,1.79,4.00,4.21,4.33,0.77,5.27,0.0
119,023C593EXPvAibaEXe9FHRfjQvHQkczLW3d0xRtJ,22.0,0,82.105913,22.550000,7.53,7.53,115.0,8.63,7.57,6.87,7.94,7.88,6.17,8.21,0.0
150,030AB9A8XPvAibaEXe+PYhTHWVfmAnz8waNlDG/x,22.0,0,82.105913,21.800000,7.64,7.64,135.0,7.81,6.66,7.77,7.56,7.83,8.21,7.87,0.0
295,05B6E41FXPvAibaEXe8LHfATqQ4bHrv3q9RncGj8,17.0,0,72.000000,25.500000,4.66,4.66,63.0,2.62,3.54,6.10,3.43,5.69,4.60,3.51,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13405,FCF4928FXPvAibaEXe9iOtseai5jcnyu3hno2/5g,17.0,0,70.584653,24.750000,5.02,5.02,93.0,7.56,5.83,5.17,5.88,5.09,4.57,3.94,0.0
13408,FCF917BCXPvAibaEXe/9LBBkdbcCWDNBRNKyqX44,22.0,0,82.105913,24.950000,7.94,7.94,134.0,8.69,8.27,8.62,7.84,7.67,7.90,4.90,0.0
13457,FDEB22C7XPvAibaEXe92HFjDDFybW5Kj0lJjDcTx,21.0,0,78.339608,22.600000,8.19,8.19,144.0,9.08,7.73,7.73,7.80,8.55,8.71,8.73,0.0
13486,FE768217XPvAibaEXe8NShKJ2y7VAsc1DSDY2tC+,22.0,1,82.105913,26.904643,8.19,8.19,118.0,8.00,8.36,8.43,8.26,8.68,7.47,7.73,0.0
13582,FFE53E27XPvAibaEXe+boSxJoV2lkIPm7Byt5HdS,22.0,0,82.105913,24.850000,8.09,8.09,128.0,9.13,7.84,7.39,7.68,7.94,8.15,9.40,0.0

In [21]:
sinhvien_ky7 = fourthYear_df[fourthYear_df['diemtbhk_7'] == 0]
sinhvien_ky8 = fourthYear_df[fourthYear_df['diemtbhk_7'] != 0]

In [22]:
import random

In [25]:
result = pd.concat([
    sinhvien_ky7,
    sinhvien_ky8.sample(50 - len(sinhvien_ky7), random_state=42),  # Lấy mẫu ngẫu nhiên từ sinhvien_ky8
    firstYear_df.sample(50, random_state=42)  # Lấy mẫu ngẫu nhiên từ firstYear_df
], ignore_index=True)

In [26]:
result

,mssv,namsinh,gioitinh,drl,diem_tt,dtb_toankhoa,dtb_tichluy,sotc_tichluy,diemtbhk_1,diemtbhk_2,diemtbhk_3,diemtbhk_4,diemtbhk_5,diemtbhk_6,diemtbhk_7,diemtbhk_8
0,3622E58BXPvAibaEXe9lF2o7VejWNjkH+xdoXpbr,16.0,0,78.744552,25.500000,3.54,3.54,27.0,4.80,3.78,4.24,2.19,4.28,1.03,0.0,0.0
1,49255D19XPvAibaEXe/nv6PZ4rt50lkxyYawzY4B,18.0,0,70.584653,24.500000,4.91,4.91,101.0,8.39,6.77,7.66,6.97,5.56,4.47,0.0,0.0
2,63A46CEEXPvAibaEXe/lq24VwKc+LDboJmBo8+jD,22.0,0,82.105913,25.700000,7.89,7.89,126.0,9.11,8.94,7.56,7.94,7.62,8.41,0.0,0.0
3,762CDBF5XPvAibaEXe/cAy9n2SNhGL2njCfF1PRs,21.0,0,78.339608,23.200000,4.43,4.43,67.0,7.40,6.52,7.53,4.16,0.64,0.05,0.0,0.0
4,9502DE6EXPvAibaEXe828ep1J4avvNskA47LpOY/,22.0,0,82.105913,27.552274,7.40,7.40,120.0,7.97,7.80,6.27,7.57,8.06,7.69,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9FDA2448XPvAibaEXe/lOccskaOiO4PC+M4AnVN4,16.0,1,78.744552,24.500000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
96,33E3BB55XPvAibaEXe9tdh69VvZt12g2hc9O6G1C,17.0,0,75.198135,25.500000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
97,28496A0BXPvAibaEXe9LZwdMb86KAwofS9x3/G+0,17.0,0,60.000000,27.500000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
98,B6537A39XPvAibaEXe/1obfbwrsd567T34d/pgJD,17.0,0,75.198135,28.500000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
99,2E8DCF6CXPvAibaEXe8z1Io4iT8HJHYVP7dsY6fm,16.0,0,75.198135,27.000000,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0

In [27]:
result.to_csv('flask-server/datasets/students_dataset_v2.csv')